<div id="login">
    <div class="login-area">
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group center">
                    <img src="./assets/img/logo.png" width="120px" alt="Logo Pesantren Inayatullah">
                </div>
                <div class="form-group">
                    <label for="id"> ID </label>
                    <input type="text" class="form-control" placeholder="Masukan ID" name="id" id="id" required minlength="3" formControlName="id">
                </div>
                <div class="form-group">
                    <label for="password"> Password </label>
                    <input type="password" class="form-control" placeholder="Masukan Password" name="password" id="password" required minlength="6" formControlName="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary align-right" [disabled]="!loginForm.valid"> Submit </button>
                </div>
            </form>
            {{ notifikasi }}
        </div>
    </div>
</div>