<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-top" loading="lazy">
        {{ title }}
    </a>
</nav>

<article class="container">
    <div class="row">
        <button type="button" class="btAdd btn btn-primary"> Tambah Data </button>
    </div>
    <div class="row table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col"> # </th>
                <th scope="col"> Nama </th>
                <th scope="col"> Gender </th>
                <th scope="col"> Tanggal Lahir </th>
                <th scope="col"> Alamat </th>
                <th scope="col"> Status </th>
                <th scope="col"> Action </th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
    </div>              
</article>

<div class="modal" id="modalAdd" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Masukan Data </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" id="formAdd">
          <div class="form-group">
            <label for="name"> Nama : </label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Masukan Nama">
          </div>                
          <div class="form-group">
            <label for="name"> Gender : </label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="L">
              <label class="custom-control-label" for="customRadioInline1"> Laki-Laki </label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="P">
              <label class="custom-control-label" for="customRadioInline2"> Perempuan </label>
            </div>
          </div>           
          <div class="form-group">
            <label for="birth"> Tanggal Lahir : </label>
            <input type="text" class="form-control" id="birth" name="birth" placeholder="Masukan Tanggal Lahir">
          </div>    
          <div class="form-group">
            <label for="address"> Alamat : </label>
            <input type="text" class="form-control" name="address" id="address" placeholder="Masukan Alamat">
          </div>        
          <div class="form-group">
            <label for="status"> Status : </label>
            <input type="text" class="form-control" name="status" id="status" placeholder="Masukan Status">
          </div>            
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btSave">Save changes</button>
      </div>
    </div>
  </div>
</div>